<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nnxy.bank.mapper.AccountMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.nnxy.bank.entity.Account">
        <id column="a_id" property="aId" />
        <result column="a_account" property="aAccount" />
        <result column="a_password" property="aPassword" />
        <result column="a_money" property="aMoney" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        a_id, a_account, a_password, a_money
    </sql>

</mapper>
