<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nnxy.bank.mapper.FlowMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.nnxy.bank.entity.Flow">
        <id column="f_id" property="fId" />
        <result column="f_money" property="fMoney" />
        <result column="f_type" property="fType" />
        <result column="a_id" property="aId" />
        <result column="f_date" property="fDate" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        f_id, f_money, f_type, a_id, f_date
    </sql>

</mapper>
